<!DOCTYPE html>
<html>
  <head>
    <title>BikePark <%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>

    <script src="https://kit.fontawesome.com/c29ac3ee6b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>

  <body>

    <%= render 'layouts/shared/header' %>

    <main class="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/shared/footer' %>
    <%= render 'layouts/shared/popup' %>
  </body>
</html>
